extends ../Layouts/common

block content
    div.container.mt-5
        div.d-flex.justify-content-between
            h1 #{nameLiss}
            a(href="users/create") New
            nav.navbar.navbar-light.bg-light
              form.form-inline(action=qSearch ? "search" : "users/search")
                input.form-control.mr-sm-2(type='search', placeholder='Search', name="q", value=qSearch ? qSearch : "")
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
        table.table.table-striped
          thead
            tr
              th(scope='col') Avatar
              th(scope='col') Name
              th(scope='col') Age
              th(scope='col') Action
          tbody
            each user in users
                tr
                  td
                    img(src= user.avatar, width='32')
                  td= user.name
                  td= user.age
                  td= user.email
                  td
                    a(href="users/" + user.id) View
